/* body {
    background-color: #fff;
} */
       html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-image: url('../image/fondPapier.png');
            /* remplace par ton vrai chemin */
            background-size: cover;
            /* couvre tout l'écran */
            background-repeat: no-repeat;
            /* évite la répétition */
            background-position: center center;
            /* centre l'image */
            background-attachment: fixed;
            /* effet "parallaxe" doux */
        }


        .card-img-top {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .container-fluid {
            height: 100%;
        }

        .button-custom {
            background-color: #214995;
            color: #fff;
        }

         .button-custom-true {
            background-color: #339521;
            color: #fff;
        }

        .button-custom-yellow {
            background-color: #FBBB3B;
            color: #000;
        }

        .px-8 {
            padding-left: 4rem !important;
            padding-right: 4rem !important;
        }
        .bebas {
    font-family: 'Bebas Neue', sans-serif;
  } 






      .icon-blue {
            color: #173F9A;
            /* green-400 */
            font-size: 1.8rem;
        }


        .category-icon {
            width: 1.5rem;
        }

        .timeline {
            position: relative;
            padding-left: 48px;
        }

        .timeline::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 12px;
            width: 12px;
            background-color: white;
            border-radius: 10px;
            /* rend la barre arrondie */
        }

        .timeline-step {
            position: relative;
            color: white;
        }

        .timeline-step::before {
            content: '';
            position: absolute;
            left: -37px;
            top: 0px;
            width: 15px;
            height: 15px;
            background-color: #ffcc4d;
            border-radius: 50%;
            border: 2px solid #ffcc4d;

        }
        .timeline-box {
            background-color: #173F9A;
            border-radius: 10px;
            padding: 1rem;
        }

        .card-custom {
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .btn-custom {
            background-color: #FDC644;
            color: white;
            font-weight: bold;
            border-radius: 10px;
        }

        .badge-custom {
            background-color: #FDC644;
            color: white;
            font-weight: 600;
            border-radius: 8px;
            font-size: 0.8rem;
        }


    .timeline-date {
      font-size: 0.75rem;
    }

    .timeline-box {
      background-color: #173F9A;
      border-radius: 10px;
      padding: 1rem;
    }

    .card-custom {
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .btn-custom {
      background-color: #FDC644;
      color: white;
      font-weight: bold;
      border-radius: 10px;
    }

    .badge-custom {
      background-color: #FDC644;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      font-size: 0.8rem;
    }

    .text-color-blue
    {
         color: #214995;
    }

      .text-color-yellow
    {
         color: #FDC644;
    }

thead {
  background-color: #214995;
  color: white; /* texte blanc */
}
.test {
  background-color: #214995; /* ton bleu */
}
.table-primary {
  --bs-table-bg: #214995 !important;
}
.table-primary th {
  color: #fff !important;
}
.company-info td,
  .company-info th {
    border-bottom: none !important;
  }



      .text-color-yellow
    {
         color: #FBBB3B;
    }
.carousel-item img {
  height: 250px;
  object-fit: cover;
}























.vertical {
  width: 20px;
  height: 1000px;
  background-color: #214995;
  border-radius: 20px;
  position: relative;
}

/* Style des cercles */

.circle {
  width: 50px;
  height: 50px;
  background-color: #214995;
  color: #FBBB3B;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white; /* ✅ contour blanc */
}



.label-box {
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  max-width: 350px;
  font-family: Arial, sans-serif;
}



/* Titre */
.label-title {
  color: #214995;
  font-weight: bold;
  margin: 0.5rem 0 0.3rem;
}

/* Ligne jaune */
.label-line {
  height: 4px;
  width: 100%;
  background-color: #FBBB3B;
  margin-bottom: 0.8rem;
}

/* Texte d’explication */
.label-text {
  font-size: 0.75rem;
  color: #3a3a3a;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

















































    