{% extends 'base.html.twig' %}

{% block body %}
  <main class="col-md-9 col-lg-10 p-2">
    <div class="container mt-5">
         <h1 class="form-label text-center bebas text-color-blue mb-5 mt-5">Définir les documents à demander pour la demande</h1>
         <form method="post">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sélection</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                        <tr>
                            <td>
                                <input type="checkbox" name="templates[]" value="{{ template.id }}"
                                       {% if template.id in assigned %}checked{% endif %}>
                            </td>
                            <td>{{ template.title }}</td>
                            <td>{{ template.description|nl2br }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary">Enregistrer</button>
        </form>
        
    </div>
      </main>
{% endblock %}
